# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
.venv/

# --- IDE ---
.vscode/
.idea/
*.iml

# --- Logs & Temp ---
logs/
*.log
*.tmp
*.swp

# --- Output ---
output/
*.csv
*.parquet

# --- Data ---
data/
datasets/
*.tsv
*.gz

# --- Jupyter ---
.ipynb_checkpoints/

# --- Hadoop / Spark ---
derby.log
metastore_db/
spark-warehouse/
